<div class="card1">
    <div class="card-header">
        <div class="row mt-2">
            <div class="col-md-9">
                <h3 class="text-blue fw-bold fw-italic">
                    <em>Welcome to the Riddles</em>
                </h3>
            </div>
            <div class="col-md-3 d-grid gap-2">
                <a class="btn btn-blue blue-btn-glow" routerLink="">Home</a>

            </div>
        </div>
    </div>
    <div class="card-body p-4 mt-2">
        <h3>Riddle For <em>Vishwajit</em> </h3>
        <!-- <p>
            In a suit of steel, a hero takes flight,
            His heart a reactor, shining so bright.
            Battling evil, with tech so grand,
            A genius playboy, saving the land.
            Who is he, in red and gold might?
        </p> -->
        <!-- <h4 class="text-center">
            <em>
                

            </em>

        </h4> -->
        <hr>
    </div>
    <div class="card-footer d-grid gap-2">
        <div class="row">
            <div class="col-4 d-grid gap-2"><button class="btn btn-info">Previous</button></div>
            <div class="col-4 d-grid gap-2">
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    Reveal Answer
                </button>
            </div>
            <div class="col-4 d-grid gap-2">
                <button class="btn btn-info">Next Riddle</button>
            </div>
        </div>

    </div>
</div>



<!-- Modal -->
<div class="modal fade bg-transparent" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content bg-transparent card1">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Answer For the Riddle</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <h1>IRON MAN 1</h1>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-blue blue-btn-glow" data-bs-dismiss="modal">Close</button>

            </div>
        </div>
    </div>
</div>