<div class="card">
  <h5 class="card-header">Instructions</h5>
  <div class="card-body">
    <h5 class="card-title">Read the instructions.</h5>
    <p class="card-text">
      This is the GussTheMovie Web version 1. It has limited features as of now
      and is in development phase. Please do expect bugs.
    </p>
    <p>
      I am currently developing it and will add nore features very soon. Stay
      tuned for this. Yo8u can watch on the GitHub or Subscribe to the mailing
      list.
    </p>
    <h4>Thanks for trying out!</h4>
    <h3>Thanks for the Idea. ScoopCast members.</h3>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
